/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}


/* COMMON */
.container {
    width: 100%;
    margin: auto;
    padding: 0 20px;
    /* debug */
    background-color: beige;
}


/* HEADER */
header {
    background-color: rgb(0, 153, 255);
    color: white;
    /* debug */
    padding: 15px;
}

nav {
    height: 30px;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: none;
}



/* MEDIA QUERY HEADER (DESKTOP) */
@media screen and (min-width: 992px) {
    nav {
        width: 80%;
        margin: auto;
    }
    
    .menu {
        display: block;
        width: 30%;
    }

    .menu-button {
        display: none;
    }

    .menu li {
        list-style-type: none;
    }

    .links {
        text-decoration: none;
        color: white;
    }

    .white-button {
        padding: 5px;
        background-color: white;
        color: black;
        text-decoration: none;
    }
}


/* MAIN */
/* DEMO SECTION */
.col {
    width: 100%;
    /* debug */
    border: 1px solid black;       
    padding: 10px 0;
}

.card {
    width: 100%;
    padding: 10px;
    background-color: rgb(85, 212, 255);
    /* debug */
    min-height: 200px;
}

/* MEDAI QUERY DEMO SECTION (TABLET) */
@media screen and (min-width: 768px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        width: calc(100% / 3);
    }

    .big {
        width: calc(100% / 1.5);
    }
}

/* MEDIA QUERY DEMO SECTION (DESKTOP) */
@media screen and (min-width:992px) {
    .container {
        width: 80%;
    }
    
}


/* SECTION STRATEGIC */
.sec-purple {
    background-color: rgb(187, 109, 255);
    padding: 50px 20px;
}

.strat-img {
    width: 100%;
    /* debug */
    min-height: 200px;
    border: 1px solid black;
}

.strat-txt {
    width: 100%;
    /* debug */
    min-height: 200px;
    border: 1px solid black;
}

.white-card {
    width: 100%;
    /* debug */
    min-height: 200px;
    background-color: white;
}

/* MEDIA QUERY STRATEGIC SECTION (DESKTOP) */
@media screen and (min-width: 992px) {
    .flex-container-purple {
        display: flex;
        align-items: flex-end;
        width: 70%;
        margin: auto;
    }

    .strat-col {
        width: calc(100% / 2);
    }    
}


/* TESTIMONIAL SECTION */
.testimonial-header {
    /* debug */
    width: 100%;
    min-height: 50px;
}

.flex-testimonial {
    /* debug */
    border: 1px solid black;
    padding: 10px 0;
}

.testi-img {
    width: 100%;
    padding: 10px;
    /* debug */
    min-height: 100px;
    background-color: rgb(187, 109, 255);
    border-bottom: 1px dashed black;
}

.testi-txt {
    width: 100%;
    padding: 10px;
    /* debug */
    min-height: 100px;
    background-color: rgb(187, 109, 255);
}

/* MEDIA QUERY TESTIMONIAL SECTION (TABLET) */
@media screen and (min-width: 768px) {
    .flex-testimonial {
        display: flex;
    }

    .testi-img {
        width: calc(100% / 2);
        border-right: 1px dashed black;
    }

    .testi-txt {
        width: calc(100% / 2);
    }
}