/* VARIABLE */
:root {
    --d-blue: #0084fd;
    --purple: #9792e4;
    --yellow: #fdc15f;
    --l-grey: #777777;
    --l-blue: #b5ddff;
}


/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
}


/* COMMON */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.button {
    border-radius: 9999px;
    display: inline-block;
}

.space {
    padding-right: 10px;
}


/* HEADER */
header {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: var(--d-blue);
    color: white;
    padding: 15px;
}

nav {
    height: 30px;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    border: 0;
    background-color: transparent;
    scale: 2;
    color: white;
}

.menu {
    display: none;
}

/* MEDIA QUERY HEADER (DESKTOP) */
@media screen and (min-width: 992px) {
    nav {
        width: 80%;
        margin: auto;
    }
    
    .menu {
        display: block;
        width: 55%;
    }

    .menu-button {
        display: none;
    }

    .menu li {
        list-style-type: none;
    }

    .links {
        text-decoration: none;
        color: white;
    }

    .white-button {
        background-color: white;
        color: black;
        padding: 5px 10px;
        text-decoration: none;
    }
}


/* MAIN */
/* DEMO SECTION */
.header-space-padding {
    padding-top: 80px;
}

.col {
    width: 100%;     
    padding: 10px 10px;
}

.card {
    width: 100%;
    padding: 30px;
    background-color: var(--l-blue);
    border-radius: 30px;
    color: var(--l-grey);
    font-weight: bold;
    font-size: .9rem;
}

.card h3 {
    color: var(--d-blue);
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.big p {
    padding-bottom: 30px;
}

.blue-b {
    background-color: var(--d-blue);
    color: white;
    padding: 10px 50px;
    text-decoration: none;
}

.space-down-button {
    padding-bottom: 20px;
}

.phone {
    display: block;
    position: relative;
    bottom: -30px;
}

.small {
    text-align: center;
}

.prog-ico {
    scale: 5;
    color: var(--d-blue);
}

.prog-ico-space {
    padding: 20px;
    margin-bottom: 20px;
}

/* MEDAI QUERY DEMO SECTION (TABLET) */
@media screen and (min-width: 768px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        width: calc(100% / 3);
    }

    .big {
        width: calc(100% / 1.5);
    }

    .phone {
        width: 300px;
    }

    .flex-small {
        display: flex;
    }
}

/* MEDIA QUERY DEMO SECTION (DESKTOP) */
@media screen and (min-width:992px) {
    .container {
        width: 80%;
    }
    
    .flex-card {
        display: flex;
    }

    .div-phone {
        align-self: flex-end;
    }

    .phone {
        width: 100%;
    }

    .flex-big {
        display: flex;
    }
}


/* SECTION STRATEGIC */
.sec-purple {
    background-color: rgb(187, 109, 255);
    padding: 50px 20px;
}

.strat-img {
    width: 100%;
    /* debug */
    min-height: 200px;
    border: 1px solid black;
}

.strat-txt {
    width: 100%;
    /* debug */
    min-height: 200px;
    border: 1px solid black;
}

.white-card {
    width: 100%;
    /* debug */
    min-height: 200px;
    background-color: white;
}

/* MEDIA QUERY STRATEGIC SECTION (DESKTOP) */
@media screen and (min-width: 992px) {
    .flex-container {
        display: flex;
        align-items: flex-end;
        width: 70%;
        margin: 0 auto;
    }

    .strat-col {
        width: calc(100% / 2);
    }    
}


/* TESTIMONIAL SECTION */
.testimonial-header {
    /* debug */
    width: 100%;
    min-height: 50px;
}

.flex-testimonial {
    /* debug */
    border: 1px solid black;
    padding: 10px 0;
}

.testi {
    width: 100%;
    padding: 10px;
    /* debug */
    min-height: 100px;
    background-color: rgb(187, 109, 255);
    border-bottom: 1px dashed black;
}


/* MEDIA QUERY TESTIMONIAL SECTION (TABLET) */
@media screen and (min-width: 768px) {
    .flex-testimonial {
        display: flex;
    }

    .testi {
        width: calc(100% / 2);
        border-right: 1px dashed black;
    }

}


/* BENEFITS SECTION */
.back-color {
    background-color: rgb(187, 109, 255);
    padding: 0 20px;
}

.benefits-text {
    width: 100%;
    /* debug */
    min-height: 30px;
}

.col-benefits {
    width: 100%;
    /* debug */
    min-height: 200px;
    padding: 10px 10px;
}

.card-benefits {
    background-color: white;
    min-height: 200px;
}

/* MEDIA QUERY BENEFITS SECTION (TABLET) */
@media screen and  (min-width:768px) {
    .flex-benefits {
        display: flex;
        flex-wrap: wrap;
    }

    .col-benefits {
        width: calc(100% / 2);
    }
}

/* MEDIA QUERY BENEFITS SECTION (DESKTOP) */
@media screen and  (min-width:992px) {
    .benefits-container {
        width: 80%;
        margin: 0 auto;
    }

    .flex-benefits {
        display: flex;
    }

    .col-benefits {
        width: calc(100% / 3);
    }
}


/* ABOUT SECTION */
.about-text {
    width: 100%;
    padding: 20px;
    /* debug */
    min-height: 600px;
    border: 1px solid black;
}

.icon {
    width: 100%;
    /* debug */
    min-height: 200px;
    border: 1px solid black;
}

/* MEDIA QUERY ABOUT SECTION (TABLET) */
@media screen and (min-width: 768px) {
    .flex-container {
        display: flex;
        align-items: flex-start;
    }
}


/* CTA SECTION */
.cta-color {
    background-color: rgb(187, 109, 255);
}

.container-cta {
    width: 100%;
    /* debug */
    min-height: 200px;
}

/* MEDIA QUERY CTA SECTION (TABLET) */
@media screen and (min-width: 768px) {
    .container-cta {
        width: 90%;
        margin: 0 auto;
    }
}

/* MEDIA QUERY CTA SECTION (DESKTOP) */
@media screen and (min-width: 7992px) {
    .container-cta {
        width: 50%;
    }
}


/* FOOTER */
.footer-color {
    background-color: rgb(0, 0, 0);
}

.container-footer {
width: 100%;
/* debug */
min-height: 200px;
}

/* MEDIA QUERY FOOTER (TABLET) */
@media screen and (min-width: 768px) {
.container-footer {
    width: 80%;
    margin: 0 auto;
}
}

/* MEDIA QUERY FOOTER (DESKTOP) */
@media screen and (min-width: 7992px) {
.container-footer {
    width: 40%;
}
}